[user]
	name  = Kirill Ivanov
	email = kirillunlimited@gmail.com
	username = kirillunlimited
[alias]
	lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
[core]
	editor = mate
	autocrlf = input